*{
  box-sizing: border-box;
}
@font-face {
  font-family: Streetwear;
  src: url("../fonts/Streetwear.otf") format("opentype");
}

body{
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: #000;
}
ul{
  list-style: none;
}
.container{
  margin: 0 auto;
  max-width: 1030px;
  padding: 0 15px;
}

.anim-harmonic{
  animation: anim-harm 2s;
}

.header{
  margin-top: 40px;
  &__top{
    padding-bottom: 30px;
    border-bottom: 2px #f7f7f7 solid;
  }
  &__top-wrapper{
    display: flex;
    justify-content: space-between;

  }
  &__phone-text{
    padding-left: 25px;
    position: relative;
    line-height: 25px;
    color: #666666;
    & span{
      display: block;
      color: #000000;
      line-height: 20px;
    }
  }
  &__phone-text:before{
    color: #000000;
    position: absolute;
    left: 0;
    top: 10px;
    font-family: icomoon;
    content: "\f10b";
    font-size: 45px;
  }
  &__title{
    font-family: "Roboto Light", sans-serif;
    font-size: 53px;
    line-height: 36px;
    letter-spacing: -2.5px;
    transition-duration: 1s;
    transform: scale(0,0);
  }
  &__title.active{
    transform: scale(1,1);
  }
  &__search{
    width: 200px;
    font-size: 14px;
    line-height: 25px;
    padding: 5px 10px;
    outline: none;
    border: 1px #666666 solid;
    border-radius: 20px;
  }
  &__menu{
    padding: 23px 0 25px 0;
    border-bottom: 2px #f7f7f7 solid;
    .menu__list{
      display: flex;
      justify-content: flex-start;
      text-transform: capitalize;
      &-item{
        margin-right: 23px;
      }
      &-link:hover{
        color: #666666;
      }
    }
  }
  &__benefits{
    padding: 30px 0;
    &-inner{
      display: flex;
      justify-content: space-between;
      & div{
        line-height: 25px;
        position: relative;
      }
      & div:before{
        position: absolute;
        left: 0;
        font-family: icomoon;
      }
    }
    &-secure{
      padding-left: 25px;
    }
    &-secure:before{
      content: "\f023";
      top: -3px;
      font-size: 25px;
      color: #2288b1;
    }
    &-order{
      padding-left: 33px;
    }
    &-order:before{
      content: "\f0d1";
      color: #fc6f56;
      font-size: 25px;
      top: -3px;
    }
    &-satisfaction{
      padding-left: 33px;
    }
    &-satisfaction:before{
      color: #7ebf55;
      content: "\f004";
      font-size: 25px;
      top: -3px;
    }
  }
}

.main{
  background-color: #f7f7f7;
}
.order{
  display: flex;
  padding-top: 5px;
  &__list{
    min-width: 250px;
    list-style: none;
    margin-right: 5px;
    &-item{
      background-color: #ffffff;
      min-height: 160px;
      margin-bottom: 5px;
      padding: 20px;
      transition-duration: 1s;
      transition-delay: 0.2s;
      cursor: pointer;
      transform: scale(0,0);
    }
    &-item.active:first-child{
      transition: all 0.8s ease 0s;
      transform: scale(1,1);
    }
    &-item.active:nth-child(2){
      transition: all 0.8s ease 0.2s;
      transform: scale(1,1);
    }
    &-item.active:last-child{
      transition: all 0.8s ease 0.4s;
      transform: scale(1,1);
    }


    &-item:hover{
      background-color: antiquewhite;
    }

    &-title{
      text-transform: uppercase;
      line-height: 25px;
      color: #666666;
      padding-bottom: 21px;
      position: relative;
      & span{
        font-size: 21px;
        line-height: 25px;
        color: #000;
        display: block;
        font-weight: bold;
      }
    }
    &-title:after{
      position: absolute;
      content: "::::::::::::::::::::::::";
      bottom: 0;
      left: 0;
      color: #000;
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 0;
    }
    &-text{
      margin: 15px 0;
      text-transform: capitalize;
      line-height: 25px;
    }
    &-link{
      display: block;
      border: 1px #000 solid;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      position: relative;
      &:before{
        content: ">";
        position: absolute;
        transform: translate(70%, 19%);
      }
    }
  }
  &__slider{
    &-item{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-width: 740px;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
    }
    &-content{
      margin-right: 50px;
    }
    &-title{
      font-family: Streetwear;
      font-size: 36px;
      line-height: 25px;
      text-transform: capitalize;
      border-bottom: 1px #dcdbd9 solid;
      padding-bottom: 15px;
      & span{
        color: #fc6f56;
      }
    }
    &-text{
      font-size: 21px;
      line-height: 25px;
      text-transform: capitalize;
      padding: 15px 0;
      border-bottom: 1px #dcdbd9 solid;
      margin-left: 10px;
    }
    &-link{
      text-align: center;
      display: block;
      width: 136px;
      border: 1px #000 solid;
      margin-top: 20px;
      text-transform: capitalize;
      font-weight: bold;
      line-height: 25px;
      padding: 3px 0;
      border-radius: 22px;
      margin-left: 25%;
    }
  }
}

.products{
  padding-top: 60px;
  &__title{
    font-family: "Roboto Light";
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    &-title{
      font-size: 14px;
      line-height: 25px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__list:first-child{
    transition: all 1s ease 0.4s;
  }
  &__list:last-child{
    transition: all 1s ease 0.2s;
  }
  &__list.active{
    transform: translate(0,0);
  }
  &__item{
    &-order{
      display: flex;
      justify-content: center;
      padding-top: 11px;
      align-items: center;
    }
    &-price{
      font-size: 16px;
      line-height: 25px;
      margin-right: 12px;
    }
    &-link{
      display: block;
      width: 96px;
      border: 1px #000 solid;
      border-radius: 20px;
      text-align: center;
      text-transform: capitalize;
      font-size: 13px;
      line-height: 25px;
      transition-duration: 1s;
    }
    &-link:hover{
      background-color: antiquewhite;
      border:1px solid antiquewhite;
    }
  }
}

.footer{
  background-color: #f2f2f2;
  padding-top: 75px;
  color: #333333;
  &_title{
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 26px;
    color: #000000;
    text-transform: capitalize;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 1s ease 0.8s;
  }
  &__top.active{
    opacity: 1;
  }
  & ul li{
    font-size: 13px;
    line-height: 26px;
  }
  &__links{
    &-link:hover{
      color: #666666;
    }
  }
  &__info{
    &-link:hover{
      color: #666666;
    }
  }
  &__links,
  &__info{
    max-width: 200px;
  }
  &__testimonials{
    max-width: 225px;
  }
  &__form{
    max-width: 230px;
    &-text{
      font-size: 13px;
      line-height: 25px;
    }
    & input{
      display: block;
      width: 100%;
      margin-top: 10px;
      color: #999999;
      line-height: 13px;
      background-color: #ffffff;
      outline: none;
      border: 1px #999999 solid;
      padding: 15px;
      border-radius: 30px;
    }
  }
  & .green_btn{
    background-color: #6fb07f;
    color: #e7f1e9;
    text-align: center;
    cursor: pointer;
    transition-duration: 1s;
  }
  & .green_btn:hover{
    background-color: darkgreen;
  }
  &__testimonials{
    &-text{
      color: #333333;
      font-size: 13px;
      line-height: 25px;
      margin-bottom: 30px;
      position: relative;
      padding-left: 18px;
      &:before{
        content: "“";
        font-size: 30px;
        line-height: 25px;
        position: absolute;
        top: 5px;
        left: 0;
        color: #c0c0c0;
      }
    }
  }
  &__bottom{
    background-color: #ffffff;
    &-inner{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      align-items: center;
    }
    &-text{
      font-size: 13px;
      color: #999999;
      line-height: 25px;
    }
    &-media{
      display: flex;
    }
    &-images{
      cursor: pointer;
    }
    &-media > div:before{
      cursor: pointer;
    }
  }
  &__media-facebook,
  &__media-twitter{
    margin-right: 11px;
  }
  &__media-facebook:before{
    font-family: icomoon;
    font-size: 20px;
    color: #999999;
    content: "\f09a";
    line-height: 25px;
  }
  &__media-facebook:hover:before{
    color: #28497d;
  }
  &__media-twitter:before{
    font-family: icomoon;
    font-size: 20px;
    color: #999999;
    content: "\f099";
    line-height: 25px;
  }
  &__media-twitter:hover:before{
    color: #2288b1;
  }
  &__media-instagram:before{
    font-family: icomoon;
    font-size: 20px;
    color: #999999;
    content: "\f16d";
    line-height: 25px;
  }
  &__media-instagram:hover:before{
    background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}

@keyframes anim-harm {
  10%{
      opacity: 0.1;
      letter-spacing: 5px;
  }
  20%{
    opacity: 0.2;
  }
  70%{
    opacity: 0.7;
  }
  80%{
    opacity: 0.8;
  }
  90%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}

@keyframes flying-object {
    0%{
      position: relative;
      left:0
    }
}


